.createTodo {
	position: relative;
	width: 350px;
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
	&__close {
		position: absolute;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid;
		top: 5px;
		right: 5px;
		cursor: pointer;
		border-radius: 15px;
		background: white;
		&:hover {
			color: red;
		}
	}
	&__input {
		margin: 10px 0 0 0;
		cursor: pointer;
		outline: none;
		border: none;
	}
	&__button {
		margin: 5px 0 10px 0;
	}
}
